<div class="module-content box category-box">
    <header>
      <h2><a href="/group">{{ _('Main Categories') }}</a></h2>
    </header>
    {% block kategorien %}
      {% set groups = h.group_tree(type_='group') %}
      {% set main_group = 'main-categories'%}
      {% for group_parent in groups %}
        {% if group_parent.name == main_group %}
          {% snippet "group/snippets/main_group_list.html", groups=group_parent.children %}
        {% endif %}
      {% endfor %}
    {% endblock kategorien %}
  </div>