{% set top_nodes = h.group_tree(organizations=organizations, type_='group') %}

{% block group_list %}
  <div class="group-box">
    {% block group_list_inner %}
      {% for node in top_nodes %}      
        <h2>{{ _(node.title) }}</h2>
          <ul class="media-grid"> 
            {% for group in node.children %}
              {% snippet "group/snippets/main_group_item.html", group=h.get_info_group(group.name), position=loop.index %}
            {% endfor %}
          </ul>
      {% endfor %}
    {% endblock group_list_inner %}
  </div>
{% endblock group_list %}