<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content group-help">
    <p>
      {% trans %}
      All entries in this catalogue can be grouped in various ways.
      Each catalogue entry must be assigned to exactly one main category and optionally to any number of subject fields.
      The main category provides information about the type of information resource and thus determines which metadata is required.
      The subject affiliation indicates the fields of application for which a catalogue entry is relevant.
      The breakdown of the individual groups is as follows:
      {% endtrans %}
    </p>

    {% set top_nodes = h.group_tree(organizations=organizations, type_='group') %}
    {% for node in top_nodes %}
      <b>{{ _(node.title) }}</b>
      {% if node.children %}
        <ul class="media-grid" data-module="media-grid">
          {% for child in node.children %}
            {% set child_group = h.get_info_group(child.name) if child.name else None %}
            {% if child_group %}
              {% snippet "group/snippets/main_group_item.html", group=child_group, position=loop.index %}
            {% else %}
              <li>{{ child.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
</div>