{#
    Display a grid of group items.
    
    groups - A list of groups.
    
    Example:
    
        {% snippet "group/snippets/group_list.html" %}
    
    #}
    {% block group_list %}
    <ul class="media-grid">
      {% block group_list_inner %}
        {% for group in groups %}
          {% snippet "group/snippets/main_group_item.html", group=h.get_info_group(group.name), position=loop.index %}
        {% endfor %}
      {% endblock group_list_inner %}
    </ul>
    {% endblock group_list %}