<div class="module context-info">
  <section class="module-content">
    <div class="image">
      <a href="{{ group.url }}">
        <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" width="190" height="118" alt="{{ group.name }}" />
      </a>
    </div>
    <h1 class="heading">{{ group.display_name }}</h1>
    {% if group.description %}
      <p class="description">
      {{ h.markdown_extract(group.description, 180) }}
      </p>
      <p class="read-more">
        {% link_for _('read more'), named_route='group.about', id=group.name %}
      </p>
    {% endif %}
    {% if show_nums %}
      <div class="nums">
        <dl>
          {# Count via Solr/CKAN action, no results loaded #}
          {% set fq = 'groups:"%s" AND dataset_type:dataset AND state:active' % group.name %}
          {% set package_search = h.get_action('package_search') %}
          {% set res = package_search({}, {'q': '', 'fq': fq, 'rows': 0}) or {'count': 0} %}
          <dd>{{ h.SI_number_span(res.get('count', 0)) }}</dd>
        </dl>
      </div>
    {% endif %}
  </section>
</div>
