<footer class="lhm-footer">
  <div class="container">
    {% block footer_content %}
      <div class="row">
        <div class="col-md-8 footer-links">
          {% block footer_nav %}
            <div class="account-footer">
              {% block footer_account_container_content %}
                <ul class="list-unstyled">
                  {% block footer_account_logged %} 
                    {% if not c.userobj %}
                      <nav class="account not-authed" aria-label="{{ _('Account') }}">
                        {% block footer_account_notlogged %}
                          <li>
                            <i class="fa fa-sign-in"></i>
                            {% link_for _(' Log in'), named_route='user.login' %}
                          </li>
                        {% endblock footer_account_notlogged %}
                      </nav>
                    {% endif %}
                  {% endblock footer_account_logged %}
                </ul>
              {% endblock footer_account_container_content %}
            </div>

            <ul class="list-unstyled">
              {% block footer_links %}
                <li>
                  <i class="fa fa-address-card-o"></i>
                  <a href="{{ h.about_us() }}"> Über uns</a>
                </li>
                {% if h.usage_info() %}
                  <li>
                    <i class="fa fa-suitcase"></i>
                    <a href="{{ h.usage_info() }}"> Nutzungsbedingungen</a>
                  </li>
                {% endif %}
                {% if h.contact_email() %}
                  <li>
                    <i class="fa fa-envelope"></i>
                    <a href="{{ h.contact_email() }}"> Kontakt</a>
                  </li>
                {% endif %}
                {% if h.github() %}
                  <li>
                    <i class="fa fa-github"></i>
                    <a href="{{ h.github() }}" target="_blank"> Quellcode auf GitHub</a>
                  </li>
                {% endif %}
                <li>
                  <i class="fa fa-codepen"></i>
                  <a href="https://docs.ckan.org/en/2.9/api/index.html" target="_blank"> Katalog API</a>
                </li>
                {% if h.version_info() %}
                  <li>
                    <i class="fa fa-info-circle" style="color:#CCDEE3"></i>
                    <i style="color: #fff">{{ h.version_info() }}</i>
                  </li>
                {% endif %}
              {% endblock footer_links %}
            </ul>
          {% endblock footer_nav %}
        </div>

        <div class="col-md-4 attribution">
          {% block footer_attribution %}
            <p>
              {% trans %}<strong>Powered by</strong>
                <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
              {% endtrans %}
            </p>
            <p class="tum-footer">
              <strong>{{ _('Developed together with') }}</strong>
              <a class="hide-text tum-footer-logo"
                 href="https://www.asg.ed.tum.de/gis/projekte/sddi/"></a>
            </p>
          {% endblock footer_attribution %}
        </div>
      </div>
    {% endblock footer_content %}
  </div>
</footer>
