{% ckan_extends %}

{{ super() }}

{% block organizations_search_form %}
{% endblock organizations_search_form %}
  {% block organizations_list %}
    {% if page.items or request.params %}
      {% if q %}
        {% snippet "organization/snippets/organization_list.html", organizations=page.items %}
      {% else %}
         {% snippet "organization/snippets/organization_list.html", organizations=organizations, show_capacity=True %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock organizations_list %}
  {% block page_pagination %}
  {% endblock page_pagination %}